.Center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Right {
  display: block;
  margin-right: auto;
}
.Left {
  display: block;
  margin-left: auto;
}
.column {
  display: flex;
}
.column {
  flex: 0.1;
}
.columns {
  display: flex;
}
.columns {
  flex: 0.1;
}
body {
  font-family: "Times New Roman", Times, serif;
  color: antiquewhite;
}
.Backround {
  background-color: rgb(44, 44, 44) background-image;
  url: ("Smooth Backround.jpg");
}
button {
  background-color: transparent;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
}
button:hover {
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid antiquewhite;
  color: antiquewhite;
  transition: 0.4s;
  cursor: pointer;
}
.wrap {
  margin: 150px auto;
  width: auto;
}
.rfloat {
  max-width: 320px;
  float: left;
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin-right: 15px;
}
.lfloat {
  max-width: 320px;
  float: right;
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin-right: 15px;
}
.space {
  margin-left: 55px;
}
.hidden {
  display: none;
}
